<div class="navbar">


    <div class="app-name-container">
      <p class="app-name">y<strong class="aas">AAS!</strong></p>
    </div>


    <div class="navbar-search-bar">
        <form action="/auctions/search" method="post">
            <input type="text" class="search-text" name="query" placeholder="Search Auctions...">
            <button type="submit">Search</button>
        </form>
    </div>

    <div class="navbar-user">
        <button><a href="/login">Sign In</a></button>
        <button><a href="/logout">Log out</a></button>
        <button><a href="/account">My account</a></button>
    </div>


  </div>