<!DOCTYPE html>
<html lang="en">
<%- include("partials/header") %>
<body>
    <%- include("appbar") %>

    <p style="margin: 2rem; text-align:center;">An email has been sent to you, click on the link to confirm the auction.</p>

</body>
</html>